<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kls.kls_gps_tracker">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <service
      android:name=".KlsGpsTrackingService"
      android:exported="false"
      android:foregroundServiceType="location"
      android:stopWithTask="false" />
  </application>
</manifest>
